<div class="tf-grid">
    <div class="tf-grid-left">
	<div class="grid-box-name">
	    <div class="content"><b>Frame:</b> camera <b>Parent:</b> world</div>
	</div>
	<div class="grid-box-Vector3">
	    <div class="grid-box-Vector3-text">
		<div class="content">
		position.x
		</div>
	    </div>
	    <div class="grid-box-Vector3-data">
		<div class="content">
		{{tf.position.x}}
		</div>
	    </div>
	    <div class="grid-box-Vector3-text">
		<div class="content">
		position.y
		</div>
	    </div>
	    <div class="grid-box-Vector3-data">
		<div class="content">
		{{tf.position.y}}
		</div>
	    </div>
	    <div class="grid-box-Vector3-text">
		<div class="content">
		position.z
		</div>
	    </div>
	    <div class="grid-box-Vector3-data">
		<div class="content">
		{{tf.position.z}}
		</div>
	    </div>
	</div>
	<div class="grid-box-Vector3">
	<div class="grid-box-Vector3-text">
	    <div class="content">
	    rotation.x
	    </div>
	</div>
	<div class="grid-box-Vector3-data">
	    <div class="content">
		{{tf.rotation.x}}
	    </div>
	</div>
	<div class="grid-box-Vector3-text">
	    <div class="content">
	    rotation.y
	    </div>
	</div>
	<div class="grid-box-Vector3-data">
	    <div class="content">
		{{tf.rotation.y}}
	    </div>
	</div>
	<div class="grid-box-Vector3-text">
	    <div class="content">
	    rotation.z
	    </div>
	</div>
	<div class="grid-box-Vector3-data">
	    <div class="content">
		{{tf.rotation.z}}
	    </div>
	</div>
    </div>
</div>
<div class="tf-grid-right">
    <div class="grid-box-Matrix4">
	<div class="content">
	    <div class="Matrix4-text">.matrix</div>
	    <table class="matrix">
		<tr>
		    <td>{{tf.matrix.elements.[0]}}</td>
		    <td>{{tf.matrix.elements.[1]}}</td>
		    <td>{{tf.matrix.elements.[2]}}</td>
		    <td>{{tf.matrix.elements.[3]}}</td>
		</tr>
		<tr>
		    <td>{{tf.matrix.elements.[4]}}</td>
		    <td>{{tf.matrix.elements.[5]}}</td>
		    <td>{{tf.matrix.elements.[6]}}</td>
		    <td>{{tf.matrix.elements.[7]}}</td>
		</tr>
		<tr>
		    <td>{{tf.matrix.elements.[8]}}</td>
		    <td>{{tf.matrix.elements.[9]}}</td>
		    <td>{{tf.matrix.elements.[10]}}</td>
		    <td>{{tf.matrix.elements.[11]}}</td>
		</tr>
		<tr>
		    <td>{{tf.matrix.elements.[12]}}</td>
		    <td>{{tf.matrix.elements.[13]}}</td>
		    <td>{{tf.matrix.elements.[14]}}</td>
		    <td>{{tf.matrix.elements.[15]}}</td>
		</tr>
	    </table>
	</div>
    </div>
    <div class="grid-box-Matrix4">
	<div class="content">
	    <div class="Matrix4-text">.matrixWorld</div>
	    <table class="matrix">
		<tr>
		    <td>{{tf.matrixWorld.elements.[0]}}</td>
		    <td>{{tf.matrixWorld.elements.[1]}}</td>
		    <td>{{tf.matrixWorld.elements.[2]}}</td>
		    <td>{{tf.matrixWorld.elements.[3]}}</td>
		</tr>
		<tr>
		    <td>{{tf.matrixWorld.elements.[4]}}</td>
		    <td>{{tf.matrixWorld.elements.[5]}}</td>
		    <td>{{tf.matrixWorld.elements.[6]}}</td>
		    <td>{{tf.matrixWorld.elements.[7]}}</td>
		</tr>
		<tr>
		    <td>{{tf.matrixWorld.elements.[8]}}</td>
		    <td>{{tf.matrixWorld.elements.[9]}}</td>
		    <td>{{tf.matrixWorld.elements.[10]}}</td>
		    <td>{{tf.matrixWorld.elements.[11]}}</td>
		</tr>
		<tr>
		    <td>{{tf.matrixWorld.elements.[12]}}</td>
		    <td>{{tf.matrixWorld.elements.[13]}}</td>
		    <td>{{tf.matrixWorld.elements.[14]}}</td>
		    <td>{{tf.matrixWorld.elements.[15]}}</td>
		</tr>
	    </table>
	</div>
    </div>
</div>
</div>
