<div class="Euler">
    <span class="name">{{name}}</span>
    <div class="Euler-element">
        <span class="Euler-label">{{_order.[0]}}:</span>
        <span class="Euler-data">{{sig 4 _x}}</span>
    </div>
    <div class="Euler-element">
        <span class="Euler-label">{{_order.[1]}}:</span>
        <span class="Euler-data">{{sig 4 _z}}</span>
    </div>
    <div class="Euler-element">
        <span class="Euler-label">{{_order.[2]}}:</span>
        <span class="Euler-data">{{sig 4 _z}}</span>
    </div>
</div>

